[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A custom kernel for the Exynos7885 chipset smarphones based on Android 10/11. Currently supports A10, A20, A20e, A30, A30s and A40. Eureka has switched to private source as from R7.0 because of kangers :)
[access "refs/*"]
	owner = group user/Chatur Baij (Main) (Chatur27)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Chatur Baij (Main) (Chatur27)
	label-Verified = -1..+1 group user/Chatur Baij (Main) (Chatur27)
	push = group user/Chatur Baij (Main) (Chatur27)
	read = group user/Chatur Baij (Main) (Chatur27)
	rebase = group user/Chatur Baij (Main) (Chatur27)
	removeReviewer = group user/Chatur Baij (Main) (Chatur27)
	submit = group user/Chatur Baij (Main) (Chatur27)
[access "refs/heads/*"]
	create = group user/Chatur Baij (Main) (Chatur27)
	push = +force group user/Chatur Baij (Main) (Chatur27)
	pushMerge = group user/Chatur Baij (Main) (Chatur27)
	read = group user/Chatur Baij (Main) (Chatur27)
[access "refs/tags/*"]
	push = group user/Chatur Baij (Main) (Chatur27)
	push = +force group user/Chatur Baij (Main) (Chatur27)
